In [ ]:
# importando as bibliotecas utilizadas no projeto
import pandas as pd
import numpy as np

In [ ]:
# Leitura do dataset
df = pd.read_csv('C:/Users/Herica/Desktop/Herica/cursoIACD/bases/filmes/movies_metadata.csv')
filmes = df

In [87]:
# Pré-visaulização do dataset
filmes.head(3)

,adulto,despesas,genero,id,imdb_id,lingua_original,titulo_original,descricao,popularidade,cia_producao,...,receita,duracao,idiomas_falados,status,titulo,video,qtde_votos,novo_genero,adulto_novo,novo_pais_producao
0,False,30000000,NaN,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",NaN,"[{'name': 'pixar animation studios', 'id': 3}]",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,toy story,False,5415.0,"[Animation, Comedy, Family]",1,[united states of america]
1,False,65000000,NaN,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,NaN,"[{'name': 'tristar pictures', 'id': 559}, {'na...",...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'english'}, {'iso...",released,jumanji,False,2413.0,"[Adventure, Fantasy, Family]",1,[united states of america]
2,False,0,NaN,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,NaN,"[{'name': 'warner bros.', 'id': 6194}, {'name'...",...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,grumpier old men,False,92.0,"[Romance, Comedy]",1,[united states of america]

In [ ]:
# tamanho da nossa base
print('Número de linhas e número de colunas:', filmes.shape)

In [ ]:
filmes.describe()

In [83]:
filmes.dtypes

adulto                 object
despesas               object
genero                float64
id                     object
imdb_id                object
lingua_original        object
titulo_original        object
descricao              object
popularidade           object
cia_producao           object
pais_producao          object
data_lancamento        object
receita               float64
duracao               float64
idiomas_falados        object
status                 object
titulo                 object
video                  object
qtde_votos            float64
novo_genero            object
adulto_novo             int64
novo_pais_producao     object
dtype: object

In [84]:
filmes.id = filmes.id.astype('category')

In [85]:
filmes.dtypes

adulto                  object
despesas                object
genero                 float64
id                    category
imdb_id                 object
lingua_original         object
titulo_original         object
descricao               object
popularidade            object
cia_producao            object
pais_producao           object
data_lancamento         object
receita                float64
duracao                float64
idiomas_falados         object
status                  object
titulo                  object
video                   object
qtde_votos             float64
novo_genero             object
adulto_novo              int64
novo_pais_producao      object
dtype: object

In [86]:
filmes.id

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45460     30840
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 44349, dtype: category
Categories (44319, object): [100, 10000, 10001, 100010, ..., 9995, 9997, 99977, 9999]

In [ ]:
--------------------------- TRATAMENTO DE DADOS NULOS ---------------------

In [ ]:
filmes.isnull().sum()

In [ ]:
# PERCENTUAL DE ELEMENTOS NULOS
round(filmes.isnull().mean() * 100,2)

In [ ]:
#dropar colunas consideradas irrelevantes na primeira análise ou que possuem muitos valores nulos
filmes.drop(['belongs_to_collection'],axis = 1, inplace = True)
filmes.drop(['homepage'],axis = 1, inplace = True)
filmes.drop(['poster_path'],axis = 1, inplace = True)     
filmes.drop(['tagline'],axis = 1, inplace = True)

In [ ]:
--------------------------- TRATAMENTO DOS DADOS --------------------------------------

Transformar as features que são um dicionário em uma lista

In [ ]:
# feature genres
# Recupera os dados da feature e salva numa nova coluna
from ast import literal_eval
filmes['genres'] = filmes['genres'].apply(literal_eval) # verifica se todos os dados são do mesmo tipo
#Função para pegar os nomes dos gêneros, caso exista.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names
    return []
filmes['novo_genero'] = filmes['genres'].apply(get_list) #O retorno será uma lista com todos os gêneros. quando coloco uma coluna que não existe, ele cria a coluna automaticamente

In [ ]:
# VALIDANDO TRANSFORMAÇÃO
filmes[["novo_genero", "genres", "original_title"]].head(3)

In [ ]:
# Criar uma lista que contenha somente valores únicos de gênero, para idêntificá-los e contabilizá-los
todos_registros = len(filmes.novo_genero)        
generos_unicos = [] # lista onde será incluídos os gêneros únicos
x = 0 
#print ('total de registros do dataset: ', todos_registros)
while (x < todos_registros): # enquanto tiver registros no dataset
    #print ("x:", x)
    generos = filmes.novo_genero[x]
    #print ("P/ x = {} todos os generos são {}:".format(x,generos))
    tam_generos = len(generos)
    #print ("tam_generos: ", tam_generos)
    i = z = 0
    while (i < tam_generos): # enquanto o registro tiver generos
        cada_genero_registo = filmes.novo_genero[x][i]
        #print ("Para x = {} e i = {} os genero é {} ". format(x, i ,cada_genero_registo))
        if (not cada_genero_registo in generos_unicos): # verifica se o genero está na lista de generos únicos
            generos_unicos.append(cada_genero_registo) # inclui o genero na lista de generos únicos
            #print ("lista com os generos únicos", generos_unicos)
            z +=1
        i += 1        
    x += 1


print ("generos únicos: ", len(generos_unicos))
print (generos_unicos)

In [ ]:
# VERIFICAÇÃO DO PERCENTUAL DE ELEMENTOS NULOS
round(filmes.isnull().mean() * 100,2)

In [ ]:
# Percentual das features que não possuem valor (dados faltantes):
(filmes.isnull().sum() / filmes.shape[0]).sort_values(ascending=False)

In [ ]:
filmes.shape

In [ ]:
# REMOVE ELEMENTOS QUE AINDA POSSUEM DADOS NULOS
filmes = filmes.dropna()

In [ ]:
filmes.shape

In [ ]:
# identificando o id do registro 
print ("registro written by ørnås: " , filmes.loc [filmes['adult'] == ' - written by ørnås'])

In [ ]:
# identificando o id do 2o registro 
print ("registro rune balot goes ...: " , filmes.loc [filmes['adult'] == ' rune balot goes to a casino connected to the october corporation to try to wrap up her case once and for all.'])

In [ ]:
# identificando o id do 3o registro 
print ("registro rune balot goes ...: " , filmes.loc [filmes['adult'] == ' avalanche sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'])

In [ ]:
#Conforme observamos acima, a feature 'adulto' possui três registros diferente de false e true, portanto serão excluídos

# id: 19730  -> filmes['adulto'] == ' - written by ørnås'
filmes = filmes.drop([19730]) 

# id: 29503   -> filmes['adulto'] == ' rune balot goes to ....'
filmes = filmes.drop([29503]) 

#id 35587   -> filmes['adulto'] == ' avalanche sharks tells ....'
#excluir = filmes.loc [filmes['adulto'] == ' avalanche sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']
filmes = filmes.drop([35587])

In [ ]:
# TRANSFORMANDO A FEATURE "adult" EM BINÁRIO, ONDE 'True' = 1 e 'False' = 0
filmes["adulto_novo"] = filmes["adult"].apply(lambda x: 1 if x == "False" else 0)

In [ ]:
# VALIDANDO TRANSFORMAÇÃO da feature "adult"
filmes[["adulto_novo", "adult","original_title"]].head(3)

In [ ]:
# converter todos os valores da features do tipo string para caixa baixa, padronizando os dados
# o dataset possui 21 features após a exclusão de features consideradas irrelevantes e 45466 registros
#filmes['adult'] = filmes['adult'].str.lower()  
filmes['budget'] = filmes['budget'].str.lower() 
filmes['genres'] = filmes['genres'].str.lower() 
filmes['id'] = filmes['id'].str.lower() 
filmes['imdb_id'] = filmes['imdb_id'].str.lower() 
filmes['original_language'] = filmes['original_language'].str.lower() 
filmes['original_title'] = filmes['original_title'].str.lower() 
filmes['overview'] = filmes['overview'].str.lower() 
filmes['popularity'] = filmes['popularity'].str.lower() 
filmes['production_companies'] = filmes['production_companies'].str.lower() 
filmes['production_countries'] = filmes['production_countries'].str.lower() 
filmes['release_date'] = filmes['release_date'].str.lower() 
filmes['spoken_languages'] = filmes['spoken_languages'].str.lower() 
filmes['status'] = filmes['status'].str.lower() 
filmes['title'] = filmes['title'].str.lower()

In [ ]:
# Percentual das features que não possuem valor (dados faltantes):
(filmes.isnull().sum() / filmes.shape[0]).sort_values(ascending=False)

In [ ]:
# visualizar o nome das colunas do DATASET
filmes.columns

In [ ]:
# renomear as coluna e usar todas com caixa baixa para padronizar
filmes = filmes.rename(columns={'adult': "adulto", 'budget': 'despesas', 'genres': 'genero', 'original_language': 'lingua_original', 'original_title': 'titulo_original', 'overview': 'descricao', 'popularity': 'popularidade', 'production_companies': 'cia_producao', 'production_countries': 'pais_producao', 'release_date': 'data_lancamento', 'revenue': 'receita', 'runtime': 'duracao', 'spoken_languages': 'idiomas_falados', 'title': 'titulo', 'vote_average': 'media_votos', 'vote_count': 'qtde_votos','video': 'video'})

In [ ]:
# descrição das features
'ADULTO' - se o filme é para adulto ou não 
'DESPESAS' - valor gasto na produção e divulgação dos vídeos
'GENERO' - qual é o gêncero do filme.
'ID' - Número que identifica o filme
'IMDB_ID' - número unico que identifica o filme na base do IMDB
'LINGUA_ORIGINAL' - Qual é o idioma original do filme. 
'TITULO_ORIGINAL' - Titulo original do filme
'DESCRICAO' - Descrição do filme
'POPULARIDADE' - Qual é a popularidade do filme
'CIA_PRODUCAO' - Qual foi a companhia que produziu o filme. 
'PAIS_PRODUCAO' - Qual foi o país que produziu o filme.
'DATA_LANCAMENTO' - Qual foi a data de lançamento do filme
'RECEITA' -  Qual foi a receita obtida com o filme
'DURACAO' - Qual é a duração do filme em minutos
'IDIOMAS_FALADOS' - Quais são os idiomas falados no filme. 
'STATUS' - Status do filmes. 
'SLOGAN' - Qual é o slogan do filme.
'TITULO' - Qual é o título do filme
'VIDEO' - Se tem o video ou não do traile ????????? precisa desta feature ?????
'MEDIA_VOTOS' - Qual é a média de votos dada pelos usuários
'QTDE_VOTOS' - Qual foi a quantidade de votos

# Tipos de features e seus possíveis valores
A) Variáveis discretas - O dataset contém 8 variáveis:
1 - ADULTO - Contém dois valores possíveis: 'False' = 1, 'True' = 0
2 - GENERO -  Contém 29 valores possíveis: ['animation', 'comedy', 'family', 'adventure', 'fantasy', 'romance', 'drama', 'action', 'crime', 'thriller', 'horror', 'history', 'science fiction', 'mystery', 'war', 'foreign', 'music', 'documentary', 'western', 'tv movie', 'carousel productions', 'vision view entertainment', 'telescene film group productions', 'aniplex', 'gohands', 'brosta tv', 'odyssey media', 'pulser productions', 'rogue state']
3 - LINGUA_ORIGINAL -possui 90 opções possíveis: 'en' 'fr' 'zh' 'it' 'fa' 'nl' 'de' 'cn' 'ar' 'es' 'ru' 'sv' 'ja' 'ko'  'sr' 'bn' 'he' 'pt' 'wo' 'ro' 'hu' 'cy' 'vi' 'cs' 'da' 'no' 'nb' 'pl'
 'el' 'sh' 'xx' 'mk' 'bo' 'ca' 'fi' 'th' 'sk' 'bs' 'hi' 'tr' 'is' 'ps'
 'ab' 'eo' 'ka' 'mn' 'bm' 'zu' 'uk' 'af' 'la' 'et' 'ku' 'fy' 'lv' 'ta'
 'sl' 'tl' 'ur' 'rw' 'id' 'bg' 'mr' 'lt' 'kk' 'ms' 'sq' nan 'qu' 'te' 'am'
 'jv' 'tg' 'ml' 'hr' 'lo' 'ay' 'kn' 'eu' 'ne' 'pa' 'ky' 'gl' 'uz' 'sm'
 'mt' 'hy' 'iu' 'lb' 'si'
4 - cia_producao   - ????? TRANSFORMAR OS DADOS EM FEATURES      - FAZER UM DICIONARIO PARA                      #CONVERTER O ID E NOME DA CIA
5 - pais_producao  - ???????TRANSFORMAR OS DADOS - FAZER DICIONARIO -> SIGLA E NOME DO PAIS 
6 - idiomas_falado - ????????TRANSFORMAR OS DADOS - CRIAR LISTA COM OS IDIOMAS FALADOS
7 - status - 'Released', nan, 'Rumored', 'Post Production', 'In Production', 'Planned', 'Canceled'          
8 - video - False, True, nan

B) Variáveis categóricas - O dataset contém 13 variáveis: 
DESPESAS,ID,IMDB_ID ,TITULO_ORIGINAL, DESCRICAO,DATA_LANCAMENTO,POPULARIDADE,  
RECEITA ,  DURACAO(MINUTOS),SLOGAN, TITULO,MEDIA_VOTOS,QTDE_VOTOS

In [ ]:
# feature pais_producao
# Recupera os dados da feature e salva numa nova coluna
from ast import literal_eval
filmes['pais_producao'] = filmes['pais_producao'].apply(literal_eval) # verifica se todos os dados são do mesmo tipo
#Função para pegar os nomes dos gêneros, caso exista.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names
    return []
filmes['novo_pais_producao'] = filmes['pais_producao'].apply(get_list) #O retorno será uma lista com todos os gêneros. quando coloco uma coluna que não existe, ele cria a coluna automaticamente

In [ ]:
# VALIDANDO TRANSFORMAÇÃO
filmes[["novo_pais_producao", "pais_producao", "titulo_original"]].head(3)

In [29]:
# Criar uma lista que contenha somente valores únicos de gênero, para idêntificá-los e contabilizá-los
todos_registros = len(filmes.novo_pais_producao[32])        
pais_producao_unicos = [] # lista onde será incluídos os gêneros únicos
x = 0 
print ('total de registros do dataset: ', todos_registros)
while (x < todos_registros): # enquanto tiver registros no dataset
    #print ("x:", x)
    pais = filmes.novo_pais_producao[x]
    #print ("P/ x = {} todos os generos são {}:".format(x,pais))
    tam_pais = len(pais)
    #print ("tam_pais: ", tam_pais)
    i = z = 0
    while (i < tam_pais): # enquanto o registro tiver generos
        cada_pais_registo = filmes.novo_pais_producao[x][i]
        #print ("Para x = {} e i = {} os genero é {} ". format(x, i ,cada_genero_registo))
        if (not cada_pais_registo in pais_producao_unicos): # verifica se o genero está na lista de generos únicos
            pais_producao_unicos.append(cada_pais_registo) # inclui o genero na lista de generos únicos
            #print ("lista com os generos únicos", generos_unicos)
            z +=1
        i += 1        
    x += 1

print ("pais_producao_unicos: ", len(pais_producao_unicos))
print (pais_producao_unicos)

KeyError: 32

In [ ]:
# Percentual das features que não possuem valor (dados faltantes):
(filmes.isnull().sum() / filmes.shape[0]).sort_values(ascending=False)

In [ ]:
#Após transformação das features, exclusão das features irrelevantes e exclusão de registros incorretos ou com informações ausentes
filmes.shape

In [ ]:
filmes.dtypes

In [ ]:
# --------------------- Separação do target --------------------------

In [ ]:
target = filmes['media_votos']

filmes = filmes.drop(['media_votos'],axis=1)

""" mostre os nomes de colunas do dataframe para verificar exclusão da coluna"""
filmes.columns

In [ ]:
#  *************************** BINARIZAR AS VARIÁVEIS CATEGÓRICAS  ***************************

# atributos categóricos: despesas,id,imdb_id ,titulo_original, descricao,data_lancamento,popularidade, receita, duracao(minutos),slogan, titulo,media_votos,qtde_votos

In [69]:
#Aplique a função get_dummies
df2 = filmes
#{'adult': "adulto", 'budget': 'despesas', 'genres': 'genero', 'original_language': 'lingua_original', 'original_title': 'titulo_original', 'overview': 'descricao', 'popularity': 'popularidade', 'production_companies': 'cia_producao', 'production_countries': 'pais_producao', 'release_date': 'data_lancamento', 'revenue': 'receita', 'runtime': 'duracao', 'spoken_languages': 'idiomas_falados', 'title': 'titulo', 'vote_average': 'media_votos', 'vote_count': 'qtde_votos','video': 'video'})

In [70]:
df2

,adulto,despesas,genero,id,imdb_id,lingua_original,titulo_original,descricao,popularidade,cia_producao,...,receita,duracao,idiomas_falados,status,titulo,video,qtde_votos,novo_genero,adulto_novo,novo_pais_producao
0,False,30000000,NaN,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",NaN,"[{'name': 'pixar animation studios', 'id': 3}]",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,toy story,False,5415.0,"[Animation, Comedy, Family]",1,[united states of america]
1,False,65000000,NaN,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,NaN,"[{'name': 'tristar pictures', 'id': 559}, {'na...",...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'english'}, {'iso...",released,jumanji,False,2413.0,"[Adventure, Fantasy, Family]",1,[united states of america]
2,False,0,NaN,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,NaN,"[{'name': 'warner bros.', 'id': 6194}, {'name'...",...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,grumpier old men,False,92.0,"[Romance, Comedy]",1,[united states of america]
3,False,16000000,NaN,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",NaN,[{'name': 'twentieth century fox film corporat...,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,waiting to exhale,False,34.0,"[Comedy, Drama, Romance]",1,[united states of america]
4,False,0,NaN,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,NaN,"[{'name': 'sandollar productions', 'id': 5842}...",...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,father of the bride part ii,False,173.0,[Comedy],1,[united states of america]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,0,NaN,30840,tt0102797,en,robin hood,"yet another version of the classic epic, with ...",5.683753,"[{'name': 'westdeutscher rundfunk (wdr)', 'id'...",...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,robin hood,False,26.0,"[Drama, Action, Romance]",1,"[canada, germany, united kingdom]"
45462,False,0,NaN,111109,tt2028550,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,"[{'name': 'sine olivia', 'id': 19653}]",...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",released,century of birthing,False,3.0,[Drama],1,[philippines]
45463,False,0,NaN,67758,tt0303758,en,betrayal,"when one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'american world pictures', 'id': 6165}]",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,betrayal,False,6.0,"[Action, Drama, Thriller]",1,[united states of america]
45464,False,0,NaN,227506,tt0008536,en,satana likuyushchiy,"in a small town live two brothers, one a minis...",0.003503,"[{'name': 'yermoliev', 'id': 88753}]",...,0.0,87.0,[],released,satan triumphant,False,0.0,[],1,[russia]
45465,False,0,NaN,461257,tt6980792,en,queerama,50 years after decriminalisation of homosexual...,0.163015,[],...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'english'}]",released,queerama,False,0.0,[],1,[united kingdom]

In [80]:
d = df2.loc[0:44349, ["adulto", "despesas", "id", "imdb_id", "lingua_original", "titulo_original", "descricao", "popularidade", "cia_producao", "pais_producao", "data_lancamento", "idiomas_falados", "titulo", "video", "novo_genero", "adulto_novo", "novo_pais_producao"]]
d

,adulto,despesas,id,imdb_id,lingua_original,titulo_original,descricao,popularidade,cia_producao,pais_producao,data_lancamento,idiomas_falados,titulo,video,novo_genero,adulto_novo,novo_pais_producao
0,False,30000000,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",NaN,"[{'name': 'pixar animation studios', 'id': 3}]","[{'iso_3166_1': 'us', 'name': 'united states o...",1995-10-30,"[{'iso_639_1': 'en', 'name': 'english'}]",toy story,False,"[Animation, Comedy, Family]",1,[united states of america]
1,False,65000000,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,NaN,"[{'name': 'tristar pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'us', 'name': 'united states o...",1995-12-15,"[{'iso_639_1': 'en', 'name': 'english'}, {'iso...",jumanji,False,"[Adventure, Fantasy, Family]",1,[united states of america]
2,False,0,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,NaN,"[{'name': 'warner bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'us', 'name': 'united states o...",1995-12-22,"[{'iso_639_1': 'en', 'name': 'english'}]",grumpier old men,False,"[Romance, Comedy]",1,[united states of america]
3,False,16000000,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",NaN,[{'name': 'twentieth century fox film corporat...,"[{'iso_3166_1': 'us', 'name': 'united states o...",1995-12-22,"[{'iso_639_1': 'en', 'name': 'english'}]",waiting to exhale,False,"[Comedy, Drama, Romance]",1,[united states of america]
4,False,0,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,NaN,"[{'name': 'sandollar productions', 'id': 5842}...","[{'iso_3166_1': 'us', 'name': 'united states o...",1995-02-10,"[{'iso_639_1': 'en', 'name': 'english'}]",father of the bride part ii,False,[Comedy],1,[united states of america]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44345,False,0,154727,tt0107382,ja,銀河英雄伝説外伝／新たなる戦いの序曲（オーヴァチュア）,"based on a series of sci-fi novels, this serie...",0.398224,"[{'name': 'tokuma shoten', 'id': 1779}]","[{'iso_3166_1': 'jp', 'name': 'japan'}]",1993-12-18,"[{'iso_639_1': 'ja', 'name': '日本語'}]",legend of the galactic heroes: overture to a n...,False,"[Animation, Science Fiction]",1,[japan]
44346,False,0,423360,tt5909128,ru,молот,victor aka hammer is an mma champion with the ...,0.711675,"[{'name': 'russian golden episodes', 'id': 849...","[{'iso_3166_1': 'ru', 'name': 'russia'}]",2016-11-03,"[{'iso_639_1': 'ru', 'name': 'pусский'}]",hammer,False,"[Action, Drama]",1,[russia]
44347,False,7200000,11930,tt0391774,de,autobahnraser,a teen comedy with cool cars and fast driving.,2.686788,"[{'name': 'delux productions', 'id': 1472}, {'...","[{'iso_3166_1': 'de', 'name': 'germany'}, {'is...",2004-02-19,"[{'iso_639_1': 'en', 'name': 'english'}, {'iso...",a2 racer,False,[Action],1,"[germany, luxembourg]"
44348,False,0,431714,tt4143508,en,long strange trip,"the tale of the grateful dead is inspiring, co...",0.617655,"[{'name': 'amazon studios', 'id': 20580}]",[],2017-01-23,"[{'iso_639_1': 'en', 'name': 'english'}]",long strange trip,False,"[Music, Documentary]",1,[]
44349,False,0,390410,tt2626338,en,shadow world,feature documentary that explores the internat...,0.356383,[],[],2016-04-16,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",shadow world,False,[Documentary],1,[]

In [82]:
filmes_binarizado = d.get_dummies(d)

AttributeError: 'DataFrame' object has no attribute 'get_dummies'

In [ ]:
#  *************************** SEPARAÇÃO DE TREINO E TESTE ***************************

In [ ]:
# importar train_test_split do sklearn para dividir dados de treino e teste
from sklearn.model_selection import train_test_split

In [ ]:
RANDOM_STATE = 1

# o parâmetro test_size indica o percentual de amostras que serão selecionadas para teste
X_train, X_test, y_train, y_test = train_test_split(filmes, target, 
                                                    test_size=0.33, # 33% será amostra de teste
                                                    random_state=RANDOM_STATE)#, stratify=target)

In [ ]:
# *************************** REGRESSÃO LINEAR ***************************

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from matplotlib import pyplot as plt

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
# *************************** ÁRVORE DE DECISÃO ***************************

In [ ]:
# Usando o módulo tree para chamar o classificador de árvore de decisão
from sklearn import tree

# Guardando a semente aleatória
RANDOM_STATE = 1

# vamos variar os parâmetros da DecisionTree implementada no sklearn, busque sua explicação detalhada na documentação
dec_clf = tree.DecisionTreeClassifier()

# Usando os arquivos de treino com as variáveis e o target, ajustamos um modelo
dec_clf.fit(X_train, y_train)

variables = df.columns

# Usando a biblioteca graphviz, podemos plotar a árvore gerada pelo nosso modelo 
# Caso você não tenha instale usando o comando pip install graphviz
# import graphviz:
# dot_data = tree.export_graphviz(dec_clf, out_file=None, feature_names=variables, 
#                                 class_names=dec_clf.classes_, filled=True) 
# graph = graphviz.Source(dot_data) 
# graph