In [ ]:
# importando as bibliotecas utilizadas no projeto
import pandas as pd
import numpy as np

In [377]:
# Leitura do dataset
filmes = pd.read_csv('C:/Users/Herica/Desktop/Herica/cursoIACD/bases/filmes/movies_metadata.csv')

In [371]:
filmes.shape

(45466, 24)

In [372]:
# Pré-visaulização do dataset
filmes.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [373]:
filmes.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [378]:
# verificando dados ausentes
filmes.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [379]:
#dropar colunas consideradas irrelevantes na primeira análise ou que possuem muitos valores nulos
filmes.drop(['belongs_to_collection'],axis = 1, inplace = True)
filmes.drop(['homepage'],axis = 1, inplace = True)
filmes.drop(['poster_path'],axis = 1, inplace = True)     
filmes.drop(['tagline'],axis = 1, inplace = True)

In [380]:
# verificando dados ausentes
filmes.isnull().sum()

adult                     0
budget                    0
genres                    0
id                        0
imdb_id                  17
original_language        11
original_title            0
overview                954
popularity                5
production_companies      3
production_countries      3
release_date             87
revenue                   6
runtime                 263
spoken_languages          6
status                   87
title                     6
video                     6
vote_average              6
vote_count                6
dtype: int64

In [388]:
filmes['overview'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: overview, Length: 45466, dtype: bool

In [282]:
# converter todos os valores da features do tipo string para caixa baixa, padronizando os dados
# o dataset possui 21 features após a exclusão de features consideradas irrelevantes e 45466 registros
filmes['adult'] = filmes['adult'].str.lower()  
filmes['budget'] = filmes['budget'].str.lower() 
filmes['genres'] = filmes['genres'].str.lower() 
filmes['id'] = filmes['id'].str.lower() 
filmes['imdb_id'] = filmes['imdb_id'].str.lower() 
filmes['original_language'] = filmes['original_language'].str.lower() 
filmes['original_title'] = filmes['original_title'].str.lower() 
filmes['overview'] = filmes['overview'].str.lower() 
filmes['popularity'] = filmes['popularity'].str.lower() 
filmes['production_companies'] = filmes['production_companies'].str.lower() 
filmes['production_countries'] = filmes['production_countries'].str.lower() 
filmes['release_date'] = filmes['release_date'].str.lower() 
filmes['spoken_languages'] = filmes['spoken_languages'].str.lower() 
filmes['status'] = filmes['status'].str.lower() 
filmes['title'] = filmes['title'].str.lower()

In [283]:
# visualizar o nome das colunas do DATASET
filmes.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [284]:
# renomear as coluna e usar todas com caixa baixa para padronizar
filmes = filmes.rename(columns={'adult': "adulto", 'budget': 'despesas', 'genres': 'genero', 'original_language': 'lingua_original', 'original_title': 'Titulo_original', 'overview': 'descricao', 'popularity': 'popularidade', 'production_companies': 'cia_producao', 'production_countries': 'pais_producao', 'release_date': 'data_lancamento', 'revenue': 'receita', 'runtime': 'duracao', 'spoken_languages': 'idiomas_falados', 'title': 'titulo', 'vote_average': 'media_votos', 'vote_count': 'qtde_votos','video': 'video'})

In [285]:
filmes.dtypes

adulto              object
despesas            object
genero              object
id                  object
imdb_id             object
lingua_original     object
Titulo_original     object
descricao           object
popularidade        object
cia_producao        object
pais_producao       object
data_lancamento     object
receita            float64
duracao            float64
idiomas_falados     object
status              object
slogan              object
titulo              object
video               object
media_votos        float64
qtde_votos         float64
dtype: object

In [ ]:
# descrição das features
'ADULTO' - se o filme é para adulto ou não 
'DESPESAS' - valor gasto na produção e divulgação dos vídeos
'GENERO' - qual é o gêncero do filme.
'ID' - Número que identifica o filme
'IMDB_ID' - número unico que identifica o filme na base do IMDB
'LINGUA_ORIGINAL' - Qual é o idioma original do filme. 
'TITULO_ORIGINAL' - Titulo original do filme
'DESCRICAO' - Descrição do filme
'POPULARIDADE' - Qual é a popularidade do filme
'CIA_PRODUCAO' - Qual foi a companhia que produziu o filme. 
'PAIS_PRODUCAO' - Qual foi o país que produziu o filme.
'DATA_LANCAMENTO' - Qual foi a data de lançamento do filme
'RECEITA' -  Qual foi a receita obtida com o filme
'DURACAO' - Qual é a duração do filme em minutos
'IDIOMAS_FALADOS' - Quais são os idiomas falados no filme. 
'STATUS' - Status do filmes. 
'SLOGAN' - Qual é o slogan do filme.
'TITULO' - Qual é o título do filme
'VIDEO' - Se tem o video ou não do traile ????????? precisa desta feature ?????
'MEDIA_VOTOS' - Qual é a média de votos dada pelos usuários
'QTDE_VOTOS' - Qual foi a quantidade de votos

# Tipos de features e seus possíveis valores
A) Variáveis discretas - O dataset contém 8 variáveis:
1 - ADULTO - Contém dois valores possíveis: 'False', 'True'
2 - GENERO -  Contém 29 valores possíveis: ['animation', 'comedy', 'family', 'adventure', 'fantasy', 'romance', 'drama', 'action', 'crime', 'thriller', 'horror', 'history', 'science fiction', 'mystery', 'war', 'foreign', 'music', 'documentary', 'western', 'tv movie', 'carousel productions', 'vision view entertainment', 'telescene film group productions', 'aniplex', 'gohands', 'brosta tv', 'odyssey media', 'pulser productions', 'rogue state']
3 - LINGUA_ORIGINAL -possui 90 opções possíveis: 'en' 'fr' 'zh' 'it' 'fa' 'nl' 'de' 'cn' 'ar' 'es' 'ru' 'sv' 'ja' 'ko'  'sr' 'bn' 'he' 'pt' 'wo' 'ro' 'hu' 'cy' 'vi' 'cs' 'da' 'no' 'nb' 'pl'
 'el' 'sh' 'xx' 'mk' 'bo' 'ca' 'fi' 'th' 'sk' 'bs' 'hi' 'tr' 'is' 'ps'
 'ab' 'eo' 'ka' 'mn' 'bm' 'zu' 'uk' 'af' 'la' 'et' 'ku' 'fy' 'lv' 'ta'
 'sl' 'tl' 'ur' 'rw' 'id' 'bg' 'mr' 'lt' 'kk' 'ms' 'sq' nan 'qu' 'te' 'am'
 'jv' 'tg' 'ml' 'hr' 'lo' 'ay' 'kn' 'eu' 'ne' 'pa' 'ky' 'gl' 'uz' 'sm'
 'mt' 'hy' 'iu' 'lb' 'si'
4 - cia_producao   - ????? TRANSFORMAR OS DADOS EM FEATURES      - FAZER UM DICIONARIO PARA                      #CONVERTER O ID E NOME DA CIA
5 - pais_producao  - ???????TRANSFORMAR OS DADOS - FAZER DICIONARIO -> SIGLA E NOME DO PAIS 
6 - idiomas_falado - ????????TRANSFORMAR OS DADOS - CRIAR LISTA COM OS IDIOMAS FALADOS
7 - status - 'Released', nan, 'Rumored', 'Post Production', 'In Production', 'Planned', 'Canceled'          
8 - video - False, True, nan

B) Variáveis categóricas - O dataset contém 13 variáveis: 
DESPESAS,ID,IMDB_ID ,TITULO_ORIGINAL, DESCRICAO,DATA_LANCAMENTO,POPULARIDADE,  
RECEITA ,  DURACAO(MINUTOS),SLOGAN, TITULO,MEDIA_VOTOS,QTDE_VOTOS

In [286]:
# ao executar o comando abaixo, percebemos que há registros diferentes de true e false na feature adulto
# os registros serão eliminados
filmes['adulto'].unique()

array(['false', 'true', ' - written by ørnås',
       ' rune balot goes to a casino connected to the october corporation to try to wrap up her case once and for all.',
       ' avalanche sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [287]:
# identificando o id do registro 
print ("registro written by ørnås: " , filmes.loc [filmes['adulto'] == ' - written by ørnås'])

registro written by ørnås:                      adulto                          despesas  \
19730   - written by ørnås  /ff9qcepilowshetg2gywwzt2bs4.jpg

                                                  genero          id imdb_id  \
19730  [{'name': 'carousel productions', 'id': 11176}...  1997-08-20       0

      lingua_original                           Titulo_original descricao  \
19730           104.0  [{'iso_639_1': 'en', 'name': 'english'}]  released

      popularidade cia_producao  ... data_lancamento receita  duracao  \
19730          NaN        false  ...               1     NaN      NaN

       idiomas_falados status slogan titulo video media_votos  qtde_votos
19730              NaN    NaN    NaN    NaN   NaN         NaN         NaN

[1 rows x 21 columns]

In [288]:
# identificando o id do 2o registro 
print ("registro rune balot goes ...: " , filmes.loc [filmes['adulto'] == ' rune balot goes to a casino connected to the october corporation to try to wrap up her case once and for all.'])

registro rune balot goes ...:                                                    adulto  \
29503   rune balot goes to a casino connected to the ...

                               despesas  \
29503  /zv8bhusl6wxod6fwogp9j4x80bl.jpg

                                                  genero          id imdb_id  \
29503  [{'name': 'aniplex', 'id': 2883}, {'name': 'go...  2012-09-29       0

      lingua_original                       Titulo_original descricao  \
29503            68.0  [{'iso_639_1': 'ja', 'name': '日本語'}]  released

      popularidade cia_producao  ... data_lancamento receita  duracao  \
29503          NaN        false  ...              12     NaN      NaN

       idiomas_falados status slogan titulo video media_votos  qtde_votos
29503              NaN    NaN    NaN    NaN   NaN         NaN         NaN

[1 rows x 21 columns]

In [289]:
# identificando o id do 3o registro 
print ("registro rune balot goes ...: " , filmes.loc [filmes['adulto'] == ' avalanche sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'])

registro rune balot goes ...:                                                    adulto  \
35587   avalanche sharks tells the story of a bikini ...

                               despesas  \
35587  /zasf5og7v8x8gqfvly88zddrm46.jpg

                                                  genero          id imdb_id  \
35587  [{'name': 'odyssey media', 'id': 17161}, {'nam...  2014-01-01       0

      lingua_original                           Titulo_original descricao  \
35587            82.0  [{'iso_639_1': 'en', 'name': 'english'}]  released

                popularidade cia_producao  ... data_lancamento receita  \
35587  beware of frost bites        false  ...              22     NaN

       duracao  idiomas_falados status slogan titulo video media_votos  \
35587      NaN              NaN    NaN    NaN    NaN   NaN         NaN

       qtde_votos
35587         NaN

[1 rows x 21 columns]

In [291]:
#Conforme observamos acima, a feature 'adulto' possui três registros diferente de false e true, portanto serão excluídos

# id: 19730  -> filmes['adulto'] == ' - written by ørnås'
filmes = filmes.drop([19730]) 


# id: 29503   -> filmes['adulto'] == ' rune balot goes to ....'
filmes = filmes.drop([29503]) 

#id 35587   -> filmes['adulto'] == ' avalanche sharks tells ....'
#excluir = filmes.loc [filmes['adulto'] == ' avalanche sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']
filmes = filmes.drop([35587]) 

#antes do drop (45466, 21)
# depois do drop (45463, 21)

In [292]:
filmes.shape

(45463, 21)

In [298]:
filmes.dtypes

adulto              object
despesas            object
genero              object
id                  object
imdb_id             object
lingua_original     object
Titulo_original     object
descricao           object
popularidade        object
cia_producao        object
pais_producao       object
data_lancamento     object
receita            float64
duracao            float64
idiomas_falados     object
status              object
slogan              object
titulo              object
video               object
media_votos        float64
qtde_votos         float64
dtype: object

In [ ]:
# a feature 'genero' é uma dista de dicionário, portanto, o nome dos generos serão salvos numa nova feature 
Recupera os gêneros de um filme que é uma lista  e salva numa nova coluna chamada novos_generos
from ast import literal_eval
filmes['genero'] = filmes['genero'].apply(literal_eval) # verifica se todos os dados são do mesmo tipo
#Função para pegar os nomes dos gêneros, caso exista.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names
    return []
filmes['novo_genero'] = filmes['genero'].apply(get_list) #O retorno será uma lista com todos os gêneros. quando coloco uma coluna que não existe, ele cria a coluna automaticamente

In [ ]:
# Criar uma lista que contenha somente valores únicos de gênero, para idêntificá-los e contabilizá-los
todos_registros = len(filmes.novo_genero)        
generos_unicos = [] # lista onde será incluídos os gêneros únicos
x = 0 
#print (todos_registros)
while (x < todos_registros): # enquanto tiver registros no dataset
    #print ("x:", x)
    generos = filmes.novo_genero[x]
    #print ("P/ x = {} todos os generos são {}:".format(x,generos))
    tam_generos = len(generos)
    #print ("tam_generos: ", tam_generos)
    i = z = 0
    while (i < tam_generos): # enquanto o registro tiver generos
        cada_genero_registo = filmes.novo_genero[x][i]
        #print ("Para x = {} e i = {} os genero é {} ". format(x, i ,cada_genero_registo))
        if (not cada_genero_registo in generos_unicos): # verifica se o genero está na lista de generos únicos
            generos_unicos.append(cada_genero_registo) # inclui o genero na lista de generos únicos
            #print ("lista com os generos únicos", generos_unicos)
            z +=1
        i += 1        
    x += 1
print ("O dataset contém {} generos únicos: ", format(len(generos_unicos),))
print (generos_unicos)

0           [{'name': 'pixar animation studios', 'id': 3}]
1        [{'name': 'tristar pictures', 'id': 559}, {'na...
2        [{'name': 'warner bros.', 'id': 6194}, {'name'...
3        [{'name': 'twentieth century fox film corporat...
4        [{'name': 'sandollar productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'sine olivia', 'id': 19653}]
45463    [{'name': 'american world pictures', 'id': 6165}]
45464                 [{'name': 'yermoliev', 'id': 88753}]
45465                                                   []
Name: cia_producao, Length: 45463, dtype: object

In [359]:
x = filmes['idiomas_falados']
x

0                 [{'iso_639_1': 'en', 'name': 'english'}]
1        [{'iso_639_1': 'en', 'name': 'english'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'english'}]
3                 [{'iso_639_1': 'en', 'name': 'english'}]
4                 [{'iso_639_1': 'en', 'name': 'english'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'english'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'english'}]
Name: idiomas_falados, Length: 45463, dtype: object

In [363]:
# A feature 'cia_producao' é uma lista de dicionário, portanto, o nome das companhias que que produziram o filme serão salvos numa nova feature 

from ast import literal_eval
filmes['idiomas_falados'] = filmes['idiomas_falados'].apply(literal_eval) # verifica se todos os dados são do mesmo tipo

#Função para pegar os nomes das companhias, caso exista.
def get_list(x):
    print (x)
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 2:
            names = names[:2]
        return names
    return []

filmes['idiomas_falados'] = filmes['idiomas_falados'].apply(get_list) #O retorno será uma lista com todas as companhia. quando coloco uma coluna que não existe, ele cria a coluna automaticamente

ValueError: malformed node or string: nan

In [ ]:
filmes

In [366]:
filmes['idiomas_falados']

count                                        45460
unique                                        1931
top       [{'iso_639_1': 'en', 'name': 'english'}]
freq                                         22395
Name: idiomas_falados, dtype: object

In [ ]:
# Percentual das features que não possuem valor (dados faltantes):
(filmes.isnull().sum() / filmes.shape[0]).sort_values(ascending=False)