In [56]:
dataset = pd.read_csv('/Users/aluno/Documents/GitHub/Pos/HXGP/pos-ds-ia-master/aulas/aula_13/train.csv')

In [57]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [26]:
dataset.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 80, dtype: object

In [58]:
#criar uma variavel com o target (chamar de y)
y = dataset.SalePrice

In [59]:
#dropar (drop) o target (SalePrice) do meu dataset (chamar de X)
dataset.drop(['SalePrice'],axis = 1, inplace = True)

In [60]:
X = dataset.iloc[:, 1:2].values

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [65]:
#X = dataset.iloc[:, 1:2].values
#y = dataset.SalePrice

In [42]:
y.shape

(1460,)

In [41]:
dataset.shape

(1460, 80)

In [61]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [62]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
pred_teste = linear_reg.predict(X_test)

In [64]:
pred_train = linear_reg.predict(X_train)

In [65]:
print(np.mean((y_test - pred_teste) ** 2))

7127083775.875539

In [66]:
dataset_teste = pd.read_csv('/Users/aluno/Documents/GitHub/Pos/HXGP/pos-ds-ia-master/aulas/aula_13/test.csv')
#dataset_teste.head()

In [67]:
X2 =  dataset_teste.iloc[:, 1:2].values

In [68]:
pred_novas_casas = linear_reg.predict(X2)

In [69]:
print(pred_novas_casas)

[187980.91951763 187980.91951763 180827.86496078 ... 187980.91951763
 176357.20586274 180827.86496078]

In [71]:
dataset_teste.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,187980.919518
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,187980.919518
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,180827.864961
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,180827.864961
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,170098.283125

In [102]:
# Separando as colunas Id e SalePrice
#w = dataset_teste.iloc[:,80:81].values
w = dataset_teste[["Id","SalePrice"]]

In [100]:
w

        Id      SalePrice
0     1461  187980.919518
1     1462  187980.919518
2     1463  180827.864961
3     1464  180827.864961
4     1465  170098.283125
...    ...            ...
1454  2915  162945.228569
1455  2916  162945.228569
1456  2917  187980.919518
1457  2918  176357.205863
1458  2919  180827.864961

[1459 rows x 2 columns]

In [70]:
# criar a coluna SalePrice no dataset de teste e preencher com os valores preditos
dataset_teste['SalePrice'] = pred_novas_casas

In [105]:
# gerar o arquivo com o resultado
w.to_csv("predition1.csv",columns=["Id","SalePrice"],index=False)